body {
    margin: 0;
    background-color: black;
}

canvas {
    display: block;
}

@font-face {
    font-family: FoundryGridnik;
    src: url("../assets/fonts/foundrygridnik.otf") format("opentype");
}